<html>
  <head>
    <title>www.airlinereservation.com</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
  <table class="header">
    <tr>
      <td><a class="ar" routerLink="../">Airline Reservation</a></td>
      <td><a routerLink="userlogin" title="login">login&nbsp;<i class="fa fa-user-circle"></i></a></td>
      <td *ngIf="user=='';else signout"><a routerLink="register" title="signup">signup&nbsp;<i class="fa fa-sign-in"></i></a></td>
      <ng-template #signout><td><a routerLink="register" title="signout">signout&nbsp;<i class="fa fa-sign-in"></i></a></td></ng-template>
      <td><a routerLink="flightsearch" title="search flights">search flights&nbsp;<i class="fa fa-plane"></i></a>
    </tr>
  </table>
  <div class="footer">
    <p>copyright &#169;larsentoubro</p>
  </div>
</body>
</html>
<router-outlet></router-outlet>