<html>
  <head>
    <title>www.airlinereservation.com</title>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
  </head>
<body>
  <table class="header">
    <tr>
      <td><p>Airline Reservation</p></td>
      <td><a routerLink="login">login</a></td>
      <td><a routerLink="register">register</a></td>
      <td><a routerLink="flightsearch">search flight</a>
    </tr>
  </table>
  <div class="footer">
    <p>copyright &#169;larsentoubro</p>
  </div>
</body>
</html>
<router-outlet></router-outlet>