<html>
    <head>
        <title>
            www.Airlines.com
        </title>
    </head>
    <body>
        <table class="Table">
           <tr><td>Username</td><td><input type="text"></td></tr>
           <tr><td>Password</td><td><input type="password"></td></tr>
           <tr><td></td><td><a routerLink="../../addflight"><button>Login</button></a><a routerLink="../../register"><button>Sign Up</button></a></td></tr>
           <tr><td></td><td><a href="">Forgot Password?</a></td></tr>
        </table>
    </body>
</html>