<title>
    <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
</title>
<body>
    <p><b>About us</b><br><br>
    FlyHigh, is one of the fastest growing carriers of today. We commenced operations in January 2020 with the objective of not only redefining affordable air travel in India.<br><br>
    While we at FlyHigh, are looking to connect people and places. FlyHigh continues to expand its destinations 
    and fleet within India, making it possible to provide our customers with extensive connections, 
    competitive air travelling rates and reliability of service.</p>
</body>