*{
	font-family:Alike;
}
body{
	background-color:rgb(248, 170, 2);
	display:block;
    position:absolute;
	top:70px;
	width:100%;
	min-height:70%;
	overflow-y:auto;
}
.error{
	color:red;
}
table{
	background-color:rgb(248, 170, 2);
	padding:0 10px;
    width :70%;
	height:60%;
	position:absolute;
	top:70px;
	left:15%;
	border:1px black solid;
	border-collapse:collapse;
}
a{
	color:rgb(248, 170, 2);
	text-decoration:none;
}
.toggle{
	background-color:black;
	width:25%;
	height:50px;
	text-align:center;
	border:1px solid black;
	padding-bottom:5px;
}
.untoggle{
	background-color:rgb(248, 170, 2);
	text-align:center;
	padding-bottom:5px;
    width:25%;
}
.untoggle a{
	color:black;
}
input,select{
	width:75%;
	height:30px;
	background-color:rgb(236, 221, 221);
	border-radius:7px;
}
button{
	width:70%;
	border-radius:7px;
	height:40px;
	background-color: #b0e0e6;
	transition:background-color 0.3s,width 0.5s ease-in-out;
}
button:hover{
	background-color:#47b8c7;
	width:75%;
}
td{
	padding:10px 20px;
	width:25%;
}
