@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  background: #f7f7f7;
}

/*Navbar*/

.navbar {
  padding: 0 1rem;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff !important;
}

.navbar a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
}


.navbar i{
  font-size: 20px;
}


@media (min-width: 768px) {
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

#main {
  padding: 1em;
  animation: breath 35s linear infinite; -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes breath {
  0% {
    background-size: 110% auto;
  }

  50% {
    background-size: 100% auto;
  }

  100% {
    background-size: 110% auto;
  }
}

/* Booking form */
.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  background-size: cover;
  background-position: center;
  color: #191a1e;
}

.booking-form {
  position: relative;
  background: #fff;
  max-width: 642px;
  width: 100%;
  margin: auto;
  padding: 45px 25px 25px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.booking-form .form-control {
  background-color: #fff;
  height: 65px;
  padding: 0px 15px;
  padding-top: 24px;
  color: #191a1e;
  border: 2px solid #dfe5e9;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #dfe5e9;
}

.booking-form .form-control:-ms-input-placeholder {
  color: #dfe5e9;
}

.booking-form .form-control::placeholder {
  color: #dfe5e9;
}

.booking-form .form-control:focus {
  background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
  color: #dfe5e9;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 6px;
  bottom: 6px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: #dfe5e9;
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  position: absolute;
  top: 6px;
  left: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  color: #274864;
}

.booking-form .form-checkbox input {
  position: absolute !important;
  margin-left: -9999px !important;
  visibility: hidden !important;
}

.booking-form .form-checkbox label {
  position: relative;
  padding-top: 4px;
  padding-left: 30px;
  font-weight: 700;
  color: #191a1e;
}

.booking-form .form-checkbox label+label {
  margin-left: 15px;
}

.booking-form .form-checkbox input+span {
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #dfe5e9;
  border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: #4fa3e3;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
  opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
  opacity: 1;
  width: 10px;
  height: 10px;
}

.booking-form .submit-btn {
  color: #fff;
  background-color: #4fa3e3;
  font-weight: 400;
  height: 65px;
  font-size: 18px;
  border: none;
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.booking-cta {
  margin-top: 45px;
}

.booking-cta h1 {
  font-size: 52px;
  text-transform: uppercase;
  color: #4fa3e3;
  font-weight: 400;
}

.booking-cta p {
  font-size: 22px;
  color: #191a1e;
}

.form-btn .submit-btn {
  -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
    border-radius: 25px;
    letter-spacing: 2px;
  text-transform: uppercase;
}

.submit-btn:hover {
  background: #051d30;
}

/*section*/
.section-header {
  font-size: 48px;
    letter-spacing: 2px;
    color: #000;
    text-align: center;
    font-weight: 500;
    position: relative;
}

#offers {
  background: #f7f7f7;
  padding: 10em 0;
}

/*Flight Details*/

.resultsDisplay {
  padding: 2em 0;
  min-height: 90vh;
  margin:1px solid black;
}
.flightDetails {
  margin: 3em 0;
  padding: 2em;
  border-radius: 15px;
  align-items: center;
  text-align: center;
}
.flightCompany {
  width: 10em;
  height: auto;
  text-align:center;
  width:100%;
  color:indigo;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:28px;
}

.bookNow {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  background: #4fa3e3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition:all .4s;
  -o-transition:all .4s;
  -moz-transition:all .4s;
  transition:all .4s;
}

.underline::before {
    content: '';
    position: absolute;
    display: block;
    width: 20%;
    height: 2px;
    background: #051d30;
    top: 25px;
    bottom: 0;
    left: 40%;
}

.source,
.destination {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
}

.bookNow:hover {
  background: #051d30;
}
/*Cards*/
.card {
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.card .card-badge {
  position:absolute;
  height: 4em;
  width: 4em;
  text-align: center;
  vertical-align: middle;
  top:-10px;
  right:-30px;
  padding:5px;
  background: #ff0000;
  color:white;
  transform:rotate(45deg);
  border-radius: 50%;
  font-size: 13px;
}


/*Footer*/

#footer {
   border-top: 1px solid #b7b7b7;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.2);
  padding: 0 0 15px 0;
  font-size: 14px;
  background: #fff;
  color: #000;
}

#footer .copyright {
  text-align: center;
  padding-top: 15px;
  color: #000;
  font-size: 1em;
  letter-spacing: 0.1em;
}

#footer .credits {
  text-align: center;
  font-size: 12px;
  padding-top: 4px;
  color: #000;
  letter-spacing: 1px;
}

#footer .credits a {
  color: #000;
  font-weight: 600;
}

#footer .credits a:hover {
  text-decoration: underline;
}}