*{
	font-family:Alike;
	font-size: 18px;
}
body{
	background-color:rgb(245, 227, 157);
    position:absolute;
	top:200px;
	width:100%;
	min-height:60%;
}
table{
    width :30%;
	height:30%;
	padding:10px;
	position:absolute;
	top:150px;
	left:35%;
	border:1px black solid;
	border-collapse:collapse;
}
a{
	color:rgb(245, 227, 157);
	text-decoration:none;
	width:100%;
}
.toggle{
	background-color:black;
	width:max-content;
	height:50px;
	text-align:center;
	border:1px solid black;
}
.delete{
	background-color:rgb(245, 227, 157);
	text-align:center;
}
.delete a{
	color:black;
}
input{
	width:90%;
	height:30px;
	background-color:rgb(236, 221, 221);
	border-radius:7px;
}
td{
	padding:15px;
	width:50%;
}
button{
	width:70%;
	border-radius:7px;
	height:40px;
	background-color:#b0e0e6;
	transition:background-color 0.3s,width 0.5s ease-in-out;
}
button:hover{
	background-color:#47b8c7;
	width:75%;
}