<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
        <title>Admin-Add Flight</title>
    </head>
<table>
    <tr>
        <td class="toggle"><a href="../addflight">addflight</a></td>
        <td class="delete"><a href="../deleteflight">deleteflight</a></td>
    </tr>
    <tr>
        <td>Flight Number</td><td><input type="text"></td>
    </tr>
    <tr>
        <td colspan="2" align="center"><button>delete</button>
    </tr>
</table>
</html>