<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <body>
<form #deleteflightform="ngForm" (ngSubmit)="deleteFlight()">
<table>
    <tr>
        <td class="toggle"><a href="../addflight">Add Flight</a></td>
        <td class="toggle"><a href="../updateflight">Update Flight</a></td>
        <td class="untoggle"><a href="../deleteflight">Delete Flight</a></td>
        <td class="toggle"><a href="../viewflights">View Flights</a></td>
    </tr>
    <tr>
        <td colspan="2">Flight Number</td>
        <td colspan="2"><input type="text" [(ngModel)]="FlightNumber" required pattern="^[0-9]{1,}$" #flightnumber="ngModel" placeholder="enter flightid" name="FlightNumber"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td colspan="2">
            <div *ngIf="!flightnumber?.valid&&(flightnumber?.dirty||flightnumber?.touched)">
                <div *ngIf="flightnumber?.errors.required">
                    <p class="error">flightnumber is required!</p>
                </div>
                <div *ngIf="flightnumber?.errors.pattern">
                    <p class="error">invalid flightnumber</p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4" align="center"><button type="submit" [disabled]="!flightnumber.valid">delete</button>
    </tr>
</table>
</form>
</body>
</html>