<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <form #flightsearchform="ngForm" (ngSubmit)="flightsearch()">
        <table>
            <tr class="journey">
                <td><input type="radio" name="journey" id="oneway" value="oneway" (click)="assign('oneway')">
                    <label for="oneway" class="oneway">One Way</label>
                </td>
                <td><input type="radio" name="journey" id="roundtrip" value="roundtrip" (click)="assign('roundtrip')">
                    <label for="roundtrip" class="roundtrip">Round Trip</label>
                </td>
            </tr>
            <tr>
                <td>From<br><select [(ngModel)]="Source" required name="Source" #source="ngModel">
                    <option value="Hyderabad">Hyderabad</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bengaluru">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Delhi">New Delhi</option>
                        <option value="Kolkata">Kolkata</option>
                </select>
                </td>
                <td>To<br><select [(ngModel)]="Destination" required name="Destination" #destination="ngModel">
                    <option value="Hyderabad">Hyderabad</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bengaluru">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Delhi">New Delhi</option>
                        <option value="Kolkata">Kolkata</option>
                </select>
                </td>
            </tr>
            <tr>
                <td class="error">
                    <div *ngIf="!source?.valid&&(source?.dirty||source?.touched)">
                        <div *ngIf="source?.errors.required">
                            <p>please enter source!</p>
                        </div>
                    </div>
                </td>
                <td class="error">
                    <div *ngIf="!destination?.valid&&(destination?.dirty||destination?.touched)">
                        <div *ngIf="destination?.errors.required">
                            <p>please enter destination!</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Departure Date<input type="date" required [(ngModel)]="Departuredate" name="Departuredate" #ddate="ngModel">
                </td>
                <td>Return Date<input type="date" required [(ngModel)]="Returndate" 
                    name="Returndate" #rdate="ngModel">
                </td>
            </tr>
            <tr>
                <td class="error">
                    <div *ngIf="!ddate?.valid&&(ddate?.dirty||ddate?.touched)">
                        <div *ngIf="ddate?.errors.required">
                            <p>please enter departuredate!</p>
                        </div>
                    </div>
                </td>
                <td class="error">
                    <div *ngIf="!rdate?.valid&&(rdate?.dirty||rdate?.touched)">
                        <div *ngIf="rdate?.errors.required">
                            <p>please enter returndate!</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Number of Passengers<br>
                <input type="number" min="0" [(ngModel)]="Passengers" required name="Passengers" #passengers="ngModel">
                </td>
            </tr>
            <tr>
                <td class="error">
                    <div *ngIf="!passengers?.valid&&(passengers?.dirty||passengers?.touched)">
                        <div *ngIf="passengers?.errors.required">
                            <p>please enter passengers!</p>
                        </div>
                        <div *ngIf="passengers?.errors.min">
                            <p>cannot enter negative value!</p>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" [disabled]="!flightsearchform.valid">Search Flights&nbsp;<i class="fa fa-plane"></i></button></td>
            </tr>
        </table>
        <router-outlet></router-outlet>
        </form>
    </body>
</html>