*{
	font-family:Alike;
}
body{
    position:absolute;
    top:100px;
    height:70%;
    min-height:70%;
    width:100%;
}
table{
    width:30%;
	position:absolute;
	padding:0 10px;
    top:50px;
	left:35%;
	border:1px solid black;
	border-collapse:collapse;
}
a{
	color:rgb(245, 227, 157);
	text-decoration:none;
	width:100%;
}
.toggle{
	background-color:black;
	width:max-content;
	height:50px;
	text-align:center;
	border:1px solid black;
}
.untoggle{
	background-color:rgb(245, 227, 157);
	text-align:center;
}
.untoggle a{
	color:black;
}
input{
	width:90%;
	height:30px;
	background-color:rgb(236, 221, 221);
	border-radius:7px;
}
button{
	width:70%;
	height:40px;
	border-radius:7px;
	height:40px;
	background-color: #b0e0e6;
	transition:background-color 0.3s,width 0.3s ease-in-out;
}
td{
    width:50%;
    padding:10px;
}
button:hover{
	background-color:#47b8c7;
	width:75%;
}