*{
	font-family:Alike;
}
body{
	background-color:rgb(235, 239, 247);
    position:absolute;
    top:100px;
    height:70%;
    min-height:70%;
    width:100%;
}
table{
	background-color:rgb(235, 239, 247);
    width:60%;
	position:absolute;
	padding:10px;
    top:0px;
    left:20%;
	border:1px solid black;
	border-collapse:collapse;
}
td{
    width:50%;
    padding:5px 20px 5px 20px;
}
a{
	color:rgb(235, 239, 247);
	text-decoration:none;
	width:100%;
}
.toggle{
	background-color:black;
	width:max-content;
	height:50px;
	padding:15px;
	text-align:center;
	border:1px solid black;
	margin-bottom:10px;
}
.untoggle{
	background-color:rgb(235, 239, 247);
	text-align:center;
	padding:15px;
}
.untoggle a{
	color:black;
}
input{
	width:90%;
	height:30px;
	background-color:rgb(236, 221, 221);
	border-radius:7px;
}
button{
	width:70%;
	height:40px;
	border-radius:7px;
	height:40px;
	background-color: #b0e0e6;
	transition:background-color 0.3s,width 0.3s ease-in-out;
	margin-bottom:30px;
}
button:hover{
	background-color:#47b8c7;
	width:75%;
}
.error{
	color:red;
}