<html>
    <head>
        <title>
            www.Airlines.com
        </title>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <body>
        <form #userloginform="ngForm">
            <table align="center">
                <tr>
                    <td class="untoggle"><a routerLink="../userlogin">USER</a></td>
                    <td class="toggle"><a routerLink="../adminlogin">ADMIN</a></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input type="text" [(ngModel)]="Username" required #username="ngModel" name="Username"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div *ngIf="!username?.valid&&(username?.dirty||username?.touched)">
                            <div *ngIf="username?.errors.required">
                                <p class="error">please enter username!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" [(ngModel)]="Password" required #password="ngModel" name="Password" pattern="^[0-9]{8,}$"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div *ngIf="!password?.valid&&(password?.dirty||password?.touched)">
                            <div *ngIf="password?.errors.required">
                                <p class="error">please enter password!</p>
                            </div>
                            <div *ngIf="password?.errors.pattern">
                                <p class="error">please enter valid password!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr><td align="center"><a routerLink="../addflight"><button>Login</button></a></td>
                    <td align="center"><a routerLink="../register"><button>Sign Up</button></a></td>
                </tr>
            </table>
        </form>
        <router-outlet></router-outlet>
    </body>
</html>