body{
    position:absolute;
    top:200px;
    height:400px;
    min-height:50%;
    width:100%;
}
h1{
    background-color: lightgreen;
    font-family:Monotype Corsiva;
    font-size:30px;
    text-align: center;
}
.Table{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 3px;
}
button{
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
input{
    height:30px;
}
