<html>
    <head>
        <title>www.Airlines.com</title>
    </head>
    <body>
            <table class="Table">
                <tr>
                <td>
                <table>
                <tr><td><u>Title</u></td><td><input type="text"></td></tr>
                <tr><td><u>First Name</u></td><td><input type="text"></td></tr>
                <tr><td><u>Last Name</u></td><td><input type="text"></td></tr>
                <tr><td><u>Date Of Birth</u></td><td><input type="date"></td></tr>
                </table>
                </td>
                <td></td>
                <td>
                <table>         
                <tr><td><u>Password</u></td><td><input type="password"></td></tr>
                <tr><td><u>Confirm Password</u></td><td><input type="password"></td></tr>
                <tr><td><u>Email</u></td><td><input type="text"></td></tr>
                <tr><td><u>Phone Number</u></td><td><input type="text"></td></tr>
                <tr><td><a routerLink="../login"><button>Sign Up</button></a></td><td><a routerLink="../register"><button>Cancel</button></a></td></tr>
                </table>
            </td>
            </tr>
            </table>
    </body>
</html>