*{
	font-family:Alike;
}
body{
	background-color:rgb(235, 239, 247);
    position:absolute;
    top:75px;
    width:100%;
    min-height:80%;
}
button{
	width:70%;
	border-radius:7px;
	height:40px;
	background-color: #b0e0e6;
	transition:background-color 0.3s,width 0.5s ease-in-out;
}
button:enabled:hover{
	background-color:#47b8c7;
	width:75%;
}
td{
    padding:5px;
    width:50%;
}
caption{
	font-size: 20px;
	color:rgb(32, 32, 207);
}
table{
	background-color:rgb(235, 239, 247);
	margin-top:1%;
	padding:10px;
	width:90%;
}
table.outer{
	border:1px solid black;
}
input,select{
	width:90%;
	height:30px;
	background-color:rgb(236, 221, 221);
	border-radius:7px;
}
p{
	color:red;
	font-size:12px;
}