<html>
    <head>
        <title>www.Airlines.com</title>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <body>
        <table align="center" class="outer">
            <caption align="center">Registration</caption>
            <tr>
            <td>
            <table>
                <tr>
                    <td>Title</td>
                    <td><select name="title">
                        <option>Mr.</option>
                        <option>Ms.</option>
                        <option>Mrs.</option>
                    </select></td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Date Of Birth</td>
                    <td><input type="date"></td>
                </tr>
            </table>
            </td>
            <td>
            <table>         
                <tr>
                    <td>Password</td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td><input type="text"></td>
                </tr>
            </table>
            </td>
            </tr>            
            <tr>
                <td align="center"><a routerLink="../userlogin">
                    <button>Sign Up</button>
                    </a>
                </td>
                <td align="center"><a routerLink="../register">
                    <button>Cancel</button>
                    </a>
                </td>
            </tr>
        </table>
            <router-outlet></router-outlet>
    </body>
</html>