*{
	font-family:Alike;
}
body{
	background-color:rgb(231, 209, 175);
	display:inline-block;
    position:fixed;
	top:70px;
	width:100%;
	min-height:80%;
	overflow-y:auto;
}
.error{
	color:red;
	font-size:12px;
	padding:0;
}
table{
	background-color:rgb(231, 209, 175);
	position:absolute;
	width:70%;
	top:80px;
	left:15%;
	border:1px solid black;
	border-collapse:collapse;
}
.inner{
	background-color:rgb(231, 209, 175);
	position:absolute;
	width:100.2%;
	top:0%;
	left:0%;
	border:1px solid black;
	border-collapse:collapse;
}
a{
	color:rgb(231, 209, 175);
	text-decoration:none;
}
.toggle{
	background-color:black;
	width:25%;
	height:50px;
	text-align:center;
	border:1px solid black;
	padding-bottom:5px;
}
.untoggle{
	background-color:rgb(231, 209, 175);
	text-align:center;
	padding-bottom:5px;
    width:25%;
}
.untoggle a{
	color:black;
}
input,select{
	width:75%;
	height:30px;
	background-color:rgb(236, 221, 221);
	border-radius:7px;
}
button{
	width:70%;
	border-radius:7px;
	height:40px;
	background-color: #b0e0e6;
	transition:background-color 0.3s,width 0.5s ease-in-out;
}
button:hover{
	background-color:#47b8c7;
	width:75%;
}
tr:nth-child(odd) td{
	padding:5px 20px;
	width:25%;
}

