<html>
    <head>
        <title>Admin-Add Flight</title>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <form #addflightform="ngForm" (ngSubmit)="addFlight()">
        <table align="center"><tr><td>
            <table class="inner">
                <tr>
                    <td class="untoggle"><a href="../addflight">Add Flight</a></td>
                    <td class="toggle"><a href="../updateflight">Update Flight</a></td>
                    <td class="toggle"><a href="../deleteflight">Delete Flight</a></td>
                    <td class="toggle"><a href="../viewflights">View Flights</a></td>
                </tr>
                <tr>
                    <td colspan="2">From</td>
                    <td colspan="2"><select class="select-css" [(ngModel)]="Source" required name="Source" #source="ngModel">
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Bengaluru">Bangalore</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Delhi">New Delhi</option>
                        <option value="Kolkata">Kolkata</option>
                        </select></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <div *ngIf="!source?.valid&&(source?.dirty||source?.touched)">
                            <div *ngIf="source?.errors.required">
                                <p class="error">please enter source!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td colspan="2">To</td>
                        <td colspan="2"><select class="select-css" [(ngModel)]="Destination" name="Destination" required #destination="ngModel">
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Bengaluru">Bangalore</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Delhi">New Delhi</option>
                            <option value="Kolkata">Kolkata</option>
                        </select></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <div *ngIf="!destination?.valid&&(destination?.dirty||destination?.touched)">
                            <div *ngIf="destination?.errors.required">
                                <p class="error">please enter destination!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td colspan="2">Departure Time</td>
                        <td colspan="2"><input type="time" [(ngModel)]="Depart" required name="Depart"  #depart="ngModel"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <div *ngIf="!depart?.valid&&(depart?.dirty||depart?.touched)">
                            <div *ngIf="depart?.errors.required">
                                <p class="error">please enter depart!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td colspan="2">Arrival Time</td>
                        <td colspan="2"><input type="time" [(ngModel)]="Arrive" required name="Arrive" #arrive="ngModel"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <div *ngIf="!arrive?.valid&&(arrive?.dirty||arrive?.touched)">
                            <div *ngIf="arrive?.errors.required">
                                <p class="error">please enter arrive!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td colspan="2">Duration</td>
                        <td colspan="2"><input type="time" [(ngModel)]="Duration" required name="Duration" #duration="ngModel"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <div *ngIf="!duration?.valid&&(duration?.dirty||duration?.touched)">
                            <div *ngIf="duration?.errors.required">
                                <p class="error">please enter duration!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td colspan="2">Cabin</td>
                        <td colspan="2"><input type="text" [(ngModel)]="Cabin" required name="Cabin" #cabin="ngModel"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">
                        <div *ngIf="!cabin?.valid&&(cabin?.dirty||cabin?.touched)">
                            <div *ngIf="cabin?.errors.required">
                                <p class="error">please enter cabin!</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td colspan="4" align="center"><button type="submit" [disabled]="!addflightform.valid">ADD</button></td>
                 </tr>
            </table>
        </td></tr></table>
        <ul>welcome{{user}}</ul>
    </form>
</html>