<html>
    <head>
        <title>Admin-Add Flight</title>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <table>
        <tr>
            <td class="untoggle"><a href="../addflight">addflight</a></td>
            <td class="toggle"><a href="../deleteflight">deleteflight</a></td>
        </tr>
        <tr>
            <td>Flight Number</td><td><input type="text"></td>
        </tr>
        <tr>
            <td>From</td><td><select class="select-css" name="from">
                <option>Select State</option>
                <option>Select State</option>
                <option>Hyderabad</option>
                <option>Mumbai</option>
                <option>Pune</option>
                <option>Bangalore</option>
                <option>Chennai</option>
                <option>New Delhi</option>
                <option>Kolkata</option>
                <option>Ahmedabad</option>
                <option>Thiruvanantapuram</option>
                <option>Kochi</option>
                </select></td>
        </tr>
        <tr>
                <td>To</td><td><select class="select-css" name="to">
                <option>Select State</option>
                <option>Hyderabad</option>
                <option>Mumbai</option>
                <option>Pune</option>
                <option>Bangalore</option>
                <option>Chennai</option>
                <option>New Delhi</option>
                <option>Kolkata</option>
                <option>Ahmedabad</option>
                <option>Thiruvanantapuram</option>
                <option>Kochi</option>
            </select></td>
        </tr>
        <tr>
                <td>Depart</td><td><input type="date"></td>
        </tr>
        <tr>
                <td>Arrive</td><td><input type="date"></td>
        </tr>
        <tr>
                <td>Duration</td><td><input type="time"></td>
        </tr>
        <tr>
                <td>Cabin</td><td><input type="text"></td>
        </tr>
        <tr>
                <td colspan="2" align="center"><button>ADD</button>
         </tr>
    </table>
</html>