*{
	font-family:Alike;
}
body{
	background-color:rgb(245, 227, 157);
	display:block;
    position:absolute;
	top:200px;
	width:100%;
	min-height:80%;
	overflow-y:auto;
}
table{
	padding:10px;
    width :40%;
	height:70%;
	position:absolute;
	top:70px;
	left:30%;
    border:1px black solid;
}
a{
	color:rgb(245, 227, 157);
	text-decoration:none;
	width:100%;
}
.toggle{
	background-color:black;
	width:max-content;
	height:50px;
	text-align:center;
	border:1px solid black;
}
.untoggle{
	background-color:rgb(245, 227, 157);
	text-align:center;
}
.untoggle a{
	color:black;
}
input,select{
	width:90%;
	height:30px;
	background-color:rgb(236, 221, 221);
	border-radius:7px;
}
button{
	width:70%;
	border-radius:7px;
	height:40px;
	background-color: #b0e0e6;
	transition:background-color 0.3s,width 0.5s ease-in-out;
}
button:hover{
	background-color:#47b8c7;
	width:75%;
}
td{
	padding:10px;
	width:50%;
}
