<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <body>
        <table align="center">
            <tr>
                <td class="toggle"><a href="../addflight">Add Flight</a></td>
                <td class="toggle"><a href="../updateflight">Update Flight</a></td>
                <td class="toggle"><a href="../deleteflight">Delete Flight</a></td>
                <td class="untoggle"><a href="../viewflights">View Flights</a></td>
            </tr>
            <tr>
                <td colspan="2"><form #searchform="ngForm" (keyup)="viewFlights()" (blur)="viewFlights()">
                    <input type="text" class="search" placeholder="search by flightid" [(ngModel)]="searchfor" #search="ngModel" name="searchfor">
                </form></td>
                <td colspan="2" align="right"><form #sortform="ngForm" (change)="sortFlights()">
                    sort by:
                    <select class="sort" [(ngModel)]="sortby" #sort="ngModel" name="sort">
                        <option value="flightid">flightid</option>
                        <option value="source">source</option>
                        <option value="destination">destination</option>
                    </select>
                </form></td>
            </tr>
            <tr><td>
                <table class="inner">
                    
                    <tr>
                        <th>FlightId</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>ArrivalTime</th>
                        <th>DepartureTime</th>
                        <th>Duration</th>
                        <th>Economyclassprice</th>
                        <th>Businessclassprice</th>
                        <th>Seats</th>
                        <th>cabin?</th>
                    </tr>
                    <tr *ngFor="let f of flights">
                        <td>{{f.flightid}}</td>
                        <td>{{f.source}}</td>
                        <td>{{f.destination}}</td>
                        <td>{{f.arrivalTime|date:'shortTime'}}</td>
                        <td>{{f.departureTime|date:'shortTime'}}</td>
                        <td>{{f.duration|date:'shortTime'}}</td>
                        <td>{{f.economyClassPrice}}</td>
                        <td>{{f.businessClassPrice}}</td>
                        <td>{{f.capacity}}</td>
                        <td>{{f.cabin}}</td>
                    </tr>
                </table>
            </td></tr>
        </table>
    </body>
</html>