<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
    </head>
    <body>
        <table align="center">
            <tr>
                <td class="toggle"><a href="../addflight">Add Flight</a></td>
                <td class="toggle"><a href="../updateflight">Update Flight</a></td>
                <td class="toggle"><a href="../deleteflight">Delete Flight</a></td>
                <td class="untoggle"><a href="../viewflights">View Flights</a></td>
            </tr>
            <tr><td>
                <table class="inner">
                    <tr>
                        <th>FlightId</th>
                        <th>FlightName</th>
                        <th>FlightSource</th>
                        <th>FlightDestination</th>
                    </tr>
                    <tr *ngFor="let f of flights">
                        <td>{{f.flightNumber}}</td>
                        <td>{{f.flightName}}</td>
                        <td>{{f.sourceName}}</td>
                        <td>{{f.destinationName}}</td>
                    </tr>
                </table>
            </td></tr>
        </table>
    </body>
</html>