<html>
    <head></head>
    <body>
        <table class="outer">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><b>Pune Express</b></td>
                        </tr>
                        <tr>    
                            <td>12:00am - 7:00am</td>
                        </tr>
                        <tr>
                            <td>7 hours</td>
                        </tr>
                    </table>
                </td>
                <td><b>Economy class price:</b><br>50000&#8377;</td>
                <td><b>Economy class price:</b><br>75000&#8377;</td>
            </tr>
        </table>
        <table align="center">
            <tr>
                <td colspan="3"><a routerLink="../seatselect"><button type="submit">continue</button></a></td>
            </tr>
        </table>
        <router-outlet></router-outlet>
    </body>
</html>