<html>
    <head></head>
    <body (load)="getFlights()">
        <form #flightselectform="ngForm">
        <table class="outer" *ngFor="let flight of flights">
            <caption>Flights Available from {{flights[0].source}} to {{flights[0].destination}}</caption>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><b>{{flight.flightid}}</b></td>
                        </tr>
                        <tr>    
                            <td>{{flight.source}}-{{flight.destination}}</td>
                        </tr>
                        <tr>    
                            <td>{{flight.arrivalTime|date:'shortTime'}}-{{flight.departureTime|date:'shortTime'}}</td>
                        </tr>
                        <tr>
                            <td>{{flight.duration|date:'hh:mm'}}</td>
                        </tr>
                    </table>
                </td>
                <td><input type="radio" name="type" id="economy" value="economy" (click)="assign('economy')"><b>Economy class price:</b><br>{{flight.economyClassPrice|currency:'INR'}}</td>
                <td><input type="radio" name="type" id="business" value="business" (click)="assign('business')"><b>Business class price:</b><br>{{flight.businessClassPrice|currency:'INR'}}</td>
            </tr>
            <tr align="center">
                <td colspan="3"><button type="submit" (click)="booknow(flight)">BOOK FLIGHT</button></td>
            </tr>
        </table>
        </form>
        <router-outlet></router-outlet>
    </body>
</html>