body{
    width:100%;
    min-height:100%;
    position:absolute;
    top:0px;
    left:0px;
    margin:0px;
    padding:0px;
    background-color:rgb(245, 227, 157);
    /*
    background-image: url('./assets/Aeroplane.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backface-visibility: visible;
    */
}