<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
<title>Seat Select</title>
</head>
<body (load)="blockseats()">
  <form #seatselectform="ngForm" (ngSubmit)="seatselect()">
  <table class="outer" align="center">
    <caption>Select seat(s)</caption>
    <tr>
      <td>
        <table class="inner" align="center">
          <tr>
            <td class="seat">
                <input type="checkbox" id="1" (click)="addseat(1)" [disabled]="disabledseats[1]"/>
                <label for="1">1</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="2" (click)="addseat(2)" [disabled]="disabledseats[2]"/>
                <label for="2">2</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="3" (click)="addseat(3)" [disabled]="disabledseats[3]"/>
                <label for="3">3</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="4" (click)="addseat(4)" [disabled]="disabledseats[4]"/>
                <label for="4">4</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="5" (click)="addseat(5)" [disabled]="disabledseats[5]"/>
                <label for="5">5</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="6" (click)="addseat(6)" [disabled]="disabledseats[6]"/>
                <label for="6">6</label>
            </td>
          </tr>
          <tr>
            <td class="seat">
                <input type="checkbox" id="7" (click)="addseat(7)" [disabled]="disabledseats[7]"/>
                <label for="7">7</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="8" (click)="addseat(8)" [disabled]="disabledseats[8]"/>
                <label for="8">8</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="9" (click)="addseat(9)" [disabled]="disabledseats[9]"/>
                <label for="9">9</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="10" (click)="addseat(10)" [disabled]="disabledseats[10]"/>
                <label for="10">10</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="11"(click)="addseat(11)" [disabled]="disabledseats[11]"/>
                <label for="11">11</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="12" (click)="addseat(12)" [disabled]="disabledseats[12]"/>
                <label for="12">12</label>
            </td>
          </tr><tr>
            <td class="seat">
                <input type="checkbox" id="13" (click)="addseat(13)" [disabled]="disabledseats[13]"/>
                <label for="13">13</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="14" (click)="addseat(14)" [disabled]="disabledseats[14]"/>
                <label for="14">14</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="15" (click)="addseat(15)" [disabled]="disabledseats[15]"/>
                <label for="15">15</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="16" (click)="addseat(16)" [disabled]="disabledseats[16]"/>
                <label for="16">16</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="17" (click)="addseat(17)" [disabled]="disabledseats[17]"/>
                <label for="17">17</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="18" (click)="addseat(18)" [disabled]="disabledseats[18]"/>
                <label for="18">18</label>
            </td>
          </tr>
          <tr>
            <td class="seat">
                <input type="checkbox" id="19" (click)="addseat(19)" [disabled]="disabledseats[19]"/>
                <label for="19">19</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="20" (click)="addseat(20)" [disabled]="disabledseats[20]"/>
                <label for="20">20</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="21" (click)="addseat(21)" [disabled]="disabledseats[21]"/>
                <label for="21">21</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="22" (click)="addseat(22)" [disabled]="disabledseats[22]"/>
                <label for="22">22</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="23" (click)="addseat(23)" [disabled]="disabledseats[23]"/>
                <label for="23">23</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="24" (click)="addseat(24)" [disabled]="disabledseats[24]"/>
                <label for="24">24</label>
            </td>
          </tr>
          <tr>
            <td class="seat">
                <input type="checkbox" id="25" (click)="addseat(25)" [disabled]="disabledseats[25]"/>
                <label for="25">25</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="26" (click)="addseat(26)" [disabled]="disabledseats[26]"/>
                <label for="26">26</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="27" (click)="addseat(27)" [disabled]="disabledseats[27]"/>
                <label for="27">27</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="28" (click)="addseat(28)" [disabled]="disabledseats[28]"/>
                <label for="28">28</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="29"(click)="addseat(29)" [disabled]="disabledseats[29]"/>
                <label for="29">29</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="30" (click)="addseat(30)" [disabled]="disabledseats[30]"/>
                <label for="30">30</label>
            </td>
          </tr><tr>
            <td class="seat">
                <input type="checkbox" id="31" (click)="addseat(31)" [disabled]="disabledseats[31]"/>
                <label for="31">31</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="32" (click)="addseat(32)" [disabled]="disabledseats[32]"/>
                <label for="32">32</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="33" (click)="addseat(33)" [disabled]="disabledseats[33]"/>
                <label for="33">33</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="34" (click)="addseat(34)" [disabled]="disabledseats[34]"/>
                <label for="34">34</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="35" (click)="addseat(35)" [disabled]="disabledseats[35]"/>
                <label for="35">35</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="36" (click)="addseat(36)" [disabled]="disabledseats[36]"/>
                <label for="36">36</label>
            </td>
          </tr>
          <tr>
            <td class="seat">
                <input type="checkbox" id="37" (click)="addseat(37)" [disabled]="disabledseats[37]"/>
                <label for="37">37</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="38" (click)="addseat(38)" [disabled]="disabledseats[38]"/>
                <label for="38">38</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="39" (click)="addseat(39)" [disabled]="disabledseats[39]"/>
                <label for="39">39</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="40" (click)="addseat(40)" [disabled]="disabledseats[40]"/>
                <label for="40">40</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="41" (click)="addseat(41)" [disabled]="disabledseats[41]"/>
                <label for="41">41</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="42" (click)="addseat(42)" [disabled]="disabledseats[42]"/>
                <label for="42">42</label>
            </td>
          </tr>
          <tr>
            <td class="seat">
                <input type="checkbox" id="43" (click)="addseat(43)" [disabled]="disabledseats[43]"/>
                <label for="43">43</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="44" (click)="addseat(44)" [disabled]="disabledseats[44]"/>
                <label for="44">44</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="45" (click)="addseat(45)" [disabled]="disabledseats[45]"/>
                <label for="45">45</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="46" (click)="addseat(46)" [disabled]="disabledseats[46]"/>
                <label for="46">46</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="47"(click)="addseat(47)" [disabled]="disabledseats[47]"/>
                <label for="47">47</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="48" (click)="addseat(48)" [disabled]="disabledseats[48]"/>
                <label for="48">48</label>
            </td>
          </tr><tr>
            <td class="seat">
                <input type="checkbox" id="49" (click)="addseat(49)" [disabled]="disabledseats[49]"/>
                <label for="49">49</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="50"(click)="addseat(50)" [disabled]="disabledseats[50]"/>
                <label for="50">50</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="51" (click)="addseat(51)" [disabled]="disabledseats[51]"/>
                <label for="51">51</label>
            </td>
            <td><ul></ul></td>
            <td class="seat">
                <input type="checkbox" id="52" (click)="addseat(52)" [disabled]="disabledseats[52]"/>
                <label for="52">52</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="53" (click)="addseat(53)" [disabled]="disabledseats[53]"/>
                <label for="53">53</label>
            </td>
            <td class="seat">
                <input type="checkbox" id="54" (click)="addseat(54)" [disabled]="disabledseats[54]"/>
                <label for="54">54</label>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div align="center">
    <button type="submit" [disabled]="!seatselectform.valid">payment</button>
  </div>
</form>
<router-outlet></router-outlet>
</body>
</html>