<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet'>
<title>Seat Select</title>
</head>
<body>
  <form #seatselectform="ngForm">
  <table class="outer" align="center">
    <caption>Select seat(s)</caption>
    <tr>
      <td>
        <table class="inner" align="center">
          <tr *ngFor="let s of seatrows">
            <td *ngFor="let s2 of seatcols;let i=index">
              <ol *ngIf="i!=3;else elset"><li class="seat">
                <input type="checkbox" id="{{((s-1)*(seatcols.length-1))+s2}}" />
                <label for="{{((s-1)*(seatcols.length-1))+s2}}">{{((s-1)*(seatcols.length-1))+s2}}</label>
              </li></ol>
              <ng-template #elset><ul></ul></ng-template>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div align="center">
    <button routerLink="../payment" type="submit" [disabled]="!seatselectform.valid">payment</button>
  </div>
</form>
<router-outlet></router-outlet>
</body>
</html>